<template lang="pug">
v-container
  v-btn(to="/") Вернуться к поиску
  v-card.mt-2
    v-card-title {{ user.name }}
    v-card-text
        v-list(dense)
        v-list-item
            v-list-item-content
                v-list-item-title Бонус агенту за смену: {{ user.agentReward }}
        v-list-item
            v-list-item-content
                v-list-item-title Бонусных смен: {{ user.shiftCount }}
        v-list-item
            v-list-item-content
                v-list-item-title Свободных машин сегодня: {{ user.freeCount }}
        v-list-item
            v-list-item-content
                v-list-item-title Адрес: {{ user.address }}
        v-list-item
            v-list-item-content
                v-list-item-title Время работы: {{ user.workingHours }}
    v-card-text(v-html="$md.render(user.info)")
</template>
<script>
export default {
  layout: 'main',
  async asyncData({ app, route }) {
    const { data } = await app.$axios.get(
      'https://taxiarenda.zhuharev.ru/api/v1/users/' + route.params.fleet
    )
    return { user: data.user }
  }
}
</script>
