<template lang="pug">
v-container
  v-row
    v-col(cols="12")
      div.text-center
        v-card
          v-card-title.headline Добро пожаловать в РосАрендаБот. Для начала работы выберите город
          v-card-text
            v-combobox(label="Город" v-model="city" :items="cities" item-text="title" autocomplete="off")
            v-checkbox(label="Аренда" v-model="lease")
            v-checkbox(label="Зарплатный проект" v-model="wages")
            v-checkbox(label="Только парки со свободными авто" v-model="freeOnly")
    v-col(cols="12")
      v-card.mt-1(v-for="item,i in fleets" :key="i")
        v-card-title {{ item.name }}
        v-card-text
          v-list(dense)
            v-list-item
              v-list-item-content
                v-list-item-title Бонус агенту за смену: {{ item.agentReward }}
            v-list-item
              v-list-item-content
                v-list-item-title Бонусных смен: {{ item.shiftCount }}
            v-list-item
              v-list-item-content
                v-list-item-title Свободных машин сегодня: {{ item.freeCount }}
            
        v-card-actions
          v-spacer
          v-btn(color="primary" :to="`/${item.id}`") Подробнее 
</template>

<script>
export default {
  layout: 'main',
  data: () => ({ city: null, lease: null, wages: null, freeOnly: false }),
  computed: {
    fleets() {
      return this.items.filter((x) => {
        if (this.city && x.cityId !== this.city.id) {
          return false
        }
        if (this.lease && x.lease !== this.lease) {
          return false
        }
        if (this.wages && x.wages !== this.wages) {
          return false
        }
        if (this.freeOnly && x.freeCount <= 0) {
          return false
        }
        return true
      })
    }
  },
  async asyncData({ app }) {
    const { data } = await app.$axios.get(
      'https://taxiarenda.zhuharev.ru/api/v1/users/byRole?role=4'
    )
    const cities = await app.$axios.get(
      'https://taxiarenda.zhuharev.ru/api/v1/users/cities'
    )
    return { items: data.users, cities: cities.data.cities }
  }
}
</script>
